<div class="form d-flex justify-content-center">
  <%= simple_form_for(@tweeet) do |f| %>

    <%- if f.error_notification %>
      <div class="alert alert-error fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= f.error_notification %>
      </div>
    <%- end %>

    <div class="form-inputs">
      <%= f.input :tweeet, label: "Tweeet about it", input_html: { class: "textarea rounded" }, label_html: { class: "label d-flex flex-column" }, placeholder: "Compose a new tweeet..." %>       
    </div>
    <%= f.button :submit, class: "btn btn-primary new-tweeet-btn" %>
  <% end %>
</div>