<section class="who d-flex flex-column">
  <h5 class="heading">Who To Follow</h5>
    <div class="card d-flex flex-row">
      <div class="card-image">
        <img src="http://www.gravatar.com/avatar" class="card-img-top rounded-circle" alt="foto" style="width: 4rem"; >
      </div>
      <div class="card-body bio">
        <span class="firstname">James</span><br>
        <span class="lastname">Odufu</span><br>
        <span class="username">@jamezjaz</span>
      </div>
    </div>
    <div class="card d-flex flex-row">
      <div class="card-image">
        <img src="http://www.gravatar.com/avatar" class="card-img-top rounded-circle" alt="foto" style="width: 4rem"; >
      </div>
      <div class="card-body bio">
        <span class="firstname">Jessica</span><br>
        <span class="lastname">Farias</span><br>
        <span class="username">@jessyrosado</span>
      </div>
    </div>
</section>
