<section class="tweets container-fluid">
  <p id="notice"><%= notice %></p>

  <h1 class="title d-flex justify-content-center text-secondary">Tweeets</h1>
  
  <div class="tweet-form">
    <%= render 'form' %>
  </div>

  <div class="d-flex">
    <%= render 'feed' %>
    <%= render 'who-to-follow' %>
  </div>
</section>