<section class="tweets container-fluid">
  <p id="notice"><%= notice %></p>

  <h1 class="title d-flex justify-content-center text-secondary">Tweeets</h1>

    <div>
      <%= render 'feed' %>
    </div>
    <div class="new-btn d-flex justify-content-center my-2">
      <%= link_to 'New Tweeet', new_tweeet_path, class: "btn btn-primary" %>
    </div>
</section>