// Place all the styles related to the Tweeets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.nav-item {
  text-decoration:none; 
}

.gravatar {
  margin-right: 4rem;
  width: 17rem;
  height: 5.5rem;
}

.new-btn {
  position: absolute;
  left: 19rem;
}

.who {
  margin-left: 5rem;
}

.bio {
  margin-left: 1rem;
}

.who-heading {
  margin-left: 5rem;
}

.form .textarea {
  width: 33rem;
}

// .form {
//   margin-left: 7rem;
// }

.new-tweeet-btn {
  margin-bottom: 2rem;
}